.header {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 28px;
    padding-top: 40px;
}

.title-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}